body {
  /*background-color: gray;*/
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #191919;
}

/*Bilder Logo*/
.awo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
}

/*Body_Menu*/
.body-menu {
    color: white;
    width: 85%;
    margin-top: 10px;
    margin-right: auto; /* Abstand rechts */
    margin-bottom: 10px;
    margin-left: auto; /* Abstand links */
}

    .body-menu h1 {
        text-transform: uppercase;
        font-weight: 500;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

.box2 {
    width: 100px;
    padding: 100px;
    position: absolute;
    top: 35%;
    left: 21%;
    transform: translate(-50%,-50%);
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #2ecc71;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

/* The sidebar menu */
.icon-bar {
    width: 60px;
    background-color: none;
}

    .icon-bar a {
        display: block;
        text-align: center;
        padding: 10px;
        transition: all 0.3s ease;
        color: white;
        font-size: 32px;
    }

        .icon-bar a:hover {
            background-color: #000;
        }

.active {
    background-color: none;
}

/*Topbar*/
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  color: white;
  min-width: 119px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Dropdownmenu box*/
.dropdown1 {
    float: left;
    overflow: hidden;
}

    .dropdown1 .dropbtn1 {
        font-size: 32px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: none;
    color: white;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content1 a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content1 a:hover {
            background-color: none;
        }

.dropdown1:hover .dropdown-content1 {
    display: block;
}

/* Change the Login Register Box */
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "username"],.box input[type = "email"] ,.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "username"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box input[type = "email"]:focus,.box input[type = "email"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover{
  background: #2ecc71;
}

